rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	match /announcements/{document=**} {
    	allow read :if true;
      allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.membership == 'admin';
    }
    match /channels/{document=**} {
    	allow read :if true;
      allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.membership == 'admin';
    }
    match /products/{document=**} {
    	allow read :if true;
      allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.membership == 'admin';
    } 	
    match /users {
    	allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.membership == 'admin';
    	match/{userId}/{document=**} {
      	allow read: if request.auth != null && request.auth.uid == userId;
        allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.membership == 'admin';  
      } 
    }
  }
}